@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;  
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 100vh;
    background-color: white;
    font-family: var(--font01);

}

header a, footer a {
   text-decoration: none;
   color: white;
   font-weight: bold;
}

header a:hover, footer a:hover {
   text-decoration: underline;
}

header {
    background-color: black;
    color: white;

    padding: 30px;
    text-align: center;
}
 header h1 {
    font-size: 3em;
    font-family: var(--font02);
    
 }

 header p {
   padding-bottom: 20px; 
 }

 section {
   padding-top: 10vh;
   padding-bottom: 10vh;
   padding-left: 30px;
   line-height: 2em;
   font-family: var(--font03);
   font-size: 3.5vw;
 }

 section p {
   padding-top: 30px;
   padding-bottom: 2em;
   font-weight: normal;
 }
  
 .normal {
    padding: 20px;
 }

 .imagem p {
    padding: 20px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.397);  
    padding: 20px;
    text-shadow: 1px 1px 0px black;
    
 }

section.imagem {
   background-color: rbg(51, 51, 51);
   color: white;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
   background-size: cover;
   background-attachment: fixed;
}

 #imagem01 {
    height: 100vh;
    background-image: url('imagens/background001.jpg');
    color: white;
    background-repeat: no-repeat;
    background-position: right center;
 
 }
  
 #imagem02 {
   height: 100vh;
   background-image: url('imagens/background002.jpg');
   color: white;
   background-repeat: no-repeat;
   background-position: top center;
 }

 footer {
   background-color: black;
   color: white;
   text-align: center;
   padding: 10px;
   font-size: 1em;
}