@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;  
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: darkgrey;
    font-family: var(--font01);

}

header {
    background-color: black;
    color: white;

    padding: 30px;
    text-align: center;
}
 header h1 {
    font-size: 3em;
    font-family: var(--font02);
 }
 section p {
    font-family: var(--font03);
    font-weight: normal;
 }
  
 .normal {
    padding: 20px;
 }

 .imagem {
    padding: 20px;
 }

 #imagem01 {
    background-image: url('imagens/');
 }